.nav__container {
	display: flex;
	flex-direction: row;

	box-sizing: border-box;
	width: 100%;
	padding-top: 5px;
	border-bottom: 1px solid rgb(211, 211, 211);
}

.nav__home-btn {
	font-weight: bold;
//	font-family: monospace, monospace;
	margin: auto;
	margin-left: 5px;
	color: #000;
}

.nav__logo {
	margin: auto;
	width: 30px;
}

//.nav__cursor {
//	display: inline-block;
//	width: 10px;
//	height: 1rem;
//	background: #fe5186;
//	padding-top: 2px;
//	margin: auto;
//	margin-left: 5px;
//	border-radius: 1px;
//	animation: cursor 1s infinite;
//}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.nav__hamburger-menu {
	display: none;
}

.nav__spacer {
	flex: 3;
	margin: auto;
}

.nav__logo-container {
	display: inline-flex;
	text-decoration: none;
}

.nav__logo-container:hover {
	text-decoration: underline;
}

.nav__toggle {
	display: none;
}

.nav__logo {
	display: inline-flex;
	margin: auto;
	padding: 5px;
	width: 40px;
}

.nav__link-group {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	margin: auto;
	text-align: center;
	color: #000 !important;
	width: 30%;
}

.nav__link-container {
	display: flex;
	padding: 10px;
	height: 100%;
	margin: auto;
	color: #000 !important;
}



.nav__link {
	text-decoration: none;
	color: #000 !important;
	font-weight: 600;
	margin: auto;
}

.nav__link:hover {
	text-decoration: underline;
}
