<section class="home__features">
    <h2>Supported Software Forges</h2>
    <div class="supported-forges__logo-container">
      <a class="supported-forges__links" href="https://gitea.io">
        <img
          class="supported-forges__logo"
          src="/forges/gitea.svg"
          alt="Gitea logo"
      /></a>

      <a class="supported-forges__links" href="https://sr.ht">
        <img
          class="supported-forges__logo"
          src="/forges/sourcehut.svg"
          alt="SourceHut logo"
      /></a>
      <a class="supported-forges__links" href="https://gitlab.com">
        <img
          class="supported-forges__logo"
          src="/forges/gitlab.svg"
          alt="GitLab logo"
      /></a>
      <a class="supported-forges__links" href="https://github.com">
        <img
          class="supported-forges__logo"
          src="/forges/github.png"
          alt="GitHub logo"
      /></a>
    </div>

  <div class="home__features-content">

    <ul>
      <li>Gitea(WIP)</li>
      <li>Sourcehut</li>
      <li>GitLab</li>
      <li>GitHub</li>
    </ul>
    <p>
      ForgeFlux will implement external federation support for the following
      software forges: The project is highly modular and aims for maximum
      interoperability, so implementing support for other forges should be
      possible.
    </p>
  </div>
</section>
