<section class="home__vision-container">
  <p class="home__vision-text">
    <em class="home__vision-title">Imagine a world...</em><br />

    <span class="home__vision-text-line">
      ...where software development workflows are based on truly open
      standards.<br />
    </span>

    <span class="home__vision-text-line">
      ...where you can choose who hosts your code while still interacting with
      the larger community.<br />
    </span>

    <span class="home__vision-text-line">
      ...where freedom doesn't come at the cost of comfort and reliability.<br />
    </span>

    <span class="home__vision-text-line">
      ...where Free Software developers are treated just as fairly as they treat
      their users.<br />
    </span>
  </p>

  <div class="home__vision-action-container">
    <h2 class="home__vision-intro-title">Meet ForgeFlux</h2>
    <p class="home__vision-intro-tagline">
      Where
      <a href="https://en.wikipedia.org/wiki/Forge_(software)"
        >software forges</a
      >
      are freed with external, API-space federation adapters.
    </p>
    <div>
      <a href="/about" class="home__vision-action-link">
        <button class="home__vision-aciton-btn">Learn More</button>
      </a>
    </div>
  </div>
</section>
