<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 1250px)"
      type="text/css"
      href="/mobile.css"
    />

    <title>Home | ForgeFlux</title>
  </head>
  <body>
    <header>
      {% include "nav.html" %}
      <div class="banner__container">
        <div class="banner__content-container">
          <h1>ForgeFlux</h1>
          <p>
            API-space software forge federation for Gitea, Sourcehut, GitLab and
            GitHub
          </p>
        </div>
      </div>
    </header>
    <main class="container">

      {% include "home/components/_vision.html" %}
      {% include "home/components/_supported-forges.html" %}

    </main>
    {% include "footer.html" %}
  </body>
</html>
