<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 1250px)"
      type="text/css"
      href="/mobile.css"
    />

    <title>Home | ForgeFlux</title>
  </head>
  <body>
    <header>{% include "nav.html" %}</header>
    <main class="container">
      <h1>ForgeFlux</h1>
      <p>
        ForgeFlux is an attempt to bridge various
        <a href="https://en.wikipedia.org/wiki/Forge_(software)">
          software forges</a
        >
        to provide a decentralised development environment. If successful, major
        software development workflows like pull requests/patches and bug
        trackers will be available in a decentralised context.
      </p>
      <h2>Why?</h2>
      <p>
        Free software developers are asked to choose between freedom and having
        access to a large community while choosing a
        <a href="https://en.wikipedia.org/wiki/Forge_(software)"
          >software forge</a
        >. Some are willing to make compromises to their freedom in the hopes of
        developing a community around their project while others don't. Either
        way, these are compromises.
      </p>
      <p>
        <a href="https://forgefed.peers.community/">ForgeFed</a> is an attempt
        to bring the best of both worlds together, but implementing the current
        version requires tight integration with forge (GitHub, GitLab, etc.)
        internals which, on non-free forges, requries the forge developers to
        participate in federation development. Naturally, getting non-free
        forges to implement the specification is a very challenging task.
      </p>
      <p>
        With ForgeFlux, we take a more organic approach towards federation
        &#8212; our federation implementation exists entirely in the API-space.
        So it can be implemented for any forge, as long as the forge exposes a
        stable API.
      </p>
      <h2>How?</h2>
      <p>
        ForgeFlux will provide federation as a plugin for forge instances: it
        will act as an adaptor that will enable federation on forge instances by
        running alongside the forge instance. The deployment architecture is
        very similar to how a third-party integration like
        <a href="https://woodpecker-ci.org/">Woodpecker CI</a> works with
        <a href="https://gitea.io">Gitea</a> &#8212; deploy ForgeFlux next to a
        forge instance and configure authentication to enable federation on the
        forge instance.
      </p>
    </main>
    {% include "footer.html" %}
  </body>
</html>
