@import "../../components/fullscreen";

.home__vision-container {
	display: flex;
	align-items: center;
	height: calc(100vh - 380px);
	min-height: 400px;
	justify-content: space-between;
}

.home__vision-text-line {
	font-size: 0.8rem;
	font-style: italic;
}

.home__vision-intro-title {
	text-align: center;
}

.home__vision-intro-tagline {
	font-size: 0.9rem;
	margin: auto;
	display: block;
	text-align: center;
}

.home__vision-aciton-btn {
	display: block;
	font-weight: 400;
	margin: 20px auto;
	padding: 15px;
	border: none;
	background-color: black;
	color: #fff;
}

.home__vision-aciton-btn:hover {
	background-color: lightgray;
}

.home__vision-action-link {
	color: white !important;
}

.page__container--split {
	width: 50%;
	margin: auto;
	padding: 50px 0;
	width: 80%;
	@include fullscreen;
	max-height: 1300px;
	height: 90vh !important;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
